<section class="section-block">
  <div class="inner">

    <div class="subscribe">
    
      <div class="subscribe__content">
        <h4 class="section-header">Want to be notified of new articles like this?</h4>
        <p>Enter your email and we’ll keep you updated</p>
      </div>

      <div class="subscribe__form">
        <form action="">

          <div class="subscribe-input-el">
            <input type="email" placeholder="email@address.com">
          </div>

          <div class="subscribe-msg">
            <p>Don't worry, we hate spam too. Don't expect any from us.</p>
          </div>

          <div class="subscribe-button-el">
            <button>Subscribe</button>
          </div>

        </form>
      </div>
    </div>
  
  </div>
</section>