.reset-panel {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  width: 100%;
  background: $gray;
  z-index: 999999;

  &__inner {
    padding: 2em 1.4em;
  }

  a {
    color: $dark;
    display: inline-block;
  }
}


.reset-form {
  padding: 1em 0em;

  label {
    display: inline-block;
    margin-bottom: 0.8em;
  }
  button {
    margin-top: 1em;
  }
}
.shopify-challenge__container {
  padding-top: 8em;
  padding-bottom: 4em;
}
button.go, .shopify-challenge__button, .go {
  @extend .cta;
  outline: none;
  border: none;
}