.has-overlap {
  overflow: visible !important;
}

.product-single {
  display: flex;
  flex-direction: column;

  &__el {
    width: 100%;

    &:first-of-type {
      margin-bottom: 2em;
    }

    p, li {
      color: #444;
      font-size: 15px; 
    }
  }

  &__img {
    width: 100%;
    background: #f2f2f2;
  }

  .section-title {
    font-size: 1.8em;
    max-width: 500px;
    line-height: 1.7;
  }
}

.selection {
  max-width: 350px;
}

.all-images {
  padding-top: 0.5em;
}


.all-images__preview {
  width: 25%;
}

#AddToCart {
  border: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.product-hr {
  max-width: 80%;
  margin: 5em auto;
  height: 2px;
  background-color: #f2f2f2;
}

.qty-parent {
  display: flex;
  align-items: center;
  padding-bottom: 1em;

  label {
    margin-right: 8px;
  }
}

.product-section-content {
  padding: 2em 0em 2em 0em;
  
  .intro-content {
    padding-bottom: 2em;
    max-width: 600px;
    color: #999;
  }
}

.other-products {
  padding-bottom: 4em;
}

.show-case-image {
  width: 100%;
}

.show-case-image__inner {
  padding-bottom: 100%;
  position: relative;
}

.product-single__img {
 .flickity-prev-next-button {
   background-color: $primary;

   svg {
     fill: white;
   }
 }
}


.accordion-k {
  max-width: 900px;
  width: 90%;
  margin: auto;
  padding-top: 2em;
  padding-bottom: 5em;
  
  &__item {
    padding: 1.5em 0em;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}


.accordion-k__question {
  h3 {
    width: 90%;
    color: $primary;
  }
}


.accordion-k__answer {
  display: none;
  padding-bottom: 1em;
  
  p {
    margin: 0;
  }
}

@media(min-width: $bp-md) {
  .product-single {
    flex-direction: row;
    justify-content: space-between;

    &__el {
      width: 48%;

      &:first-of-type {
        margin-bottom: 0em;
      }
    }
  }
}