.single-page {
  padding-bottom: 4em;
}
.page-title {
  text-align: center;
  color: $primary;
  padding-bottom: 3em;
}

.sp-content {
  a {
    color: $primary;
  }
}

.product-single__el h4 {
  color: $primary;
}