<div class="inner">
  <div class="full-width-banner">
    
    <div class="inner"><h4 class="section-title-mini" style="text-align: center;">{{ section.settings.column_header}} </h4></div>
    <div class="full-width-banner_el has-slider-full-width-banner"> 
      {% for block in section.blocks %}
        <div class="content-container" style='width: 100%;'>
          <p>{{ block.settings.column_copy }}</p>
        </div>
      
      {% endfor %}
      
      
    </div>
  </div>
</div>
<div class="section-bg has-overlay">
  <div class="section-bg__el lazy-bg" data-bg="{{section.settings.section_bg | img_url: 'master'}}"></div>
</div>

{% schema %}
{
  "name": "Full Width Banner",
  "tag": "section",
  "class": "full-width-banner-parent", 
  "blocks": [
    {
     "type": "testimonial",
     "name": "Testimonials",
     "settings": [
       {
         "id": "column_copy",
         "type": "richtext",
         "label": "Column Copy"
       }
     ]
   }
  ],
  "settings": [
    {
      "type": "image_picker",
      "id": "section_bg",
      "label": "Section Background"
    },
    {
     "id": "column_header",
     "type": "text",
     "label": "Column Header"
   }
  ]
}
{% endschema %}
