
    <div class="inner">

      <div class="subscribe__content">
        <div class="subscribe__blurb">
          <div class="content-container">
            <h4 class="section-title-mini">{{section.settings.main_section_header}}</h4>
            <p>{{section.settings.main_section_content}}</p>
          </div>
        </div>

        <div class="section-bg fade-overlay" id="hero_paralax">
          <div class="section-bg__el" data-bg="{{section.settings.background_image | img_url: 'master'}}">
          </div>
        </div>

      </div>

      <div class="subscribe__form">
        <div class="subscribe__form-inner">
          <h3>{{section.settings.form_header}}</h3>
          <!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js" defer></script>
<script>
  hbspt.forms.create({
	portalId: "7850704",
	formId: "d3d01845-a70a-4aed-924c-7ec429c533d0"
});
</script>
        </div>
        <div class="bg-element-mini">
          <svg id="Logo_Stand_Alone" data-name="Logo Stand Alone" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 849.19 648.18">
            <g id="XMLID_1_">
              <path id="XMLID_8_" d="M470.718,319.772s-.929-7.433-2.662-21.12c-.214-1.715-.393-3.52-.679-5.414-.3-1.894-.625-3.877-.965-5.968q-.992-6.218-2.144-13.544c-.661-4.878-1.84-10.06-2.859-15.581-.536-2.752-1.072-5.593-1.626-8.523-.286-1.465-.572-2.93-.858-4.431-.34-1.483-.679-3-1.036-4.538a767.019,767.019,0,0,0-23.712-85.8c-5.343-16.081-11.615-32.895-18.744-50.137-.858-2.18-1.8-4.306-2.734-6.468L411.305,95a4.514,4.514,0,0,0-.482-.84,22.524,22.524,0,0,0-1.412-1.858,5.505,5.505,0,0,0-2.019-1.644,28.868,28.868,0,0,0-.8,4.038,8.131,8.131,0,0,0-.036,1.09c.161-.339-.482,1.465-.893,2.591l-1.322,3.734c-.893,2.484-1.7,5.021-2.555,7.558-6.754,20.244-12.883,41.489-18.226,63.324-13.241,54.247-20.6,107.135-21.6,155.486-.071,6.039-.3,12.025-.3,17.939q.161,8.871.34,17.51c-.018,5.771.465,11.435.715,17.028.143,2.805.286,5.575.429,8.326.072,1.376.143,2.752.215,4.11.125,1.358.232,2.716.357,4.074q.7,8.121,1.358,15.974c.447,5.235,1.161,10.345,1.7,15.384,1,10.1,2.627,19.69,3.86,28.928a832.3,832.3,0,0,0,18.262,86.8c5.486,20.351,9.327,31.483,9.327,31.483s-6.218-9.988-15.474-29.178a589.414,589.414,0,0,1-32.592-84.443c-2.573-9.238-5.557-18.886-7.9-29.125-1.215-5.11-2.591-10.31-3.7-15.652-1.09-5.36-2.18-10.828-3.306-16.385-.286-1.394-.554-2.787-.84-4.2-.232-1.412-.465-2.841-.7-4.253-.447-2.859-.911-5.736-1.376-8.63-.876-5.807-1.948-11.7-2.537-17.743q-.992-9.059-2.037-18.386c-.554-6.236-.858-12.579-1.269-18.993-3-51.424,2.162-108.458,16.243-166.064a603.823,603.823,0,0,1,20.549-66.951c1.019-2.662,1.948-5.325,3.02-7.951q1.8-4.5,3.556-8.97c1.966-4.9,4.11-9.631,6.129-14.384,1.036-2.341,2-4.789,3.091-7,1.072-2.233,2.144-4.449,3.216-6.665q6.433-13.133,12.722-26.016Q401.254,12.392,407.356.01q6.058,13.454,11.99,26.677,5.709,12.811,11.293,25.372l2.68,6.164,1.322,3.055,1.233,3.18q2.439,6.3,4.86,12.507c.786,2.019,1.59,4.306,2.162,5.986.393,1.2.786,2.376,1.179,3.556.768,2.376,1.572,4.717,2.269,7.076,5.825,18.8,10.471,36.915,14.045,54.193a580.6,580.6,0,0,1,12.115,90.983c.107,1.59.2,3.18.3,4.735.036,1.554.089,3.109.125,4.628q.107,4.556.214,8.845c.089,5.718.34,11.078.143,16.1q-.187,7.5-.339,13.9c-.054,2.126-.125,4.145-.179,6.075-.071,1.93-.25,3.77-.375,5.5C471.38,312.34,470.718,319.772,470.718,319.772Z" transform="translate(17.239 -0.01)" fill="#f1f2f2"/>
              <path id="XMLID_7_" d="M560.719,364.434s3.824-5.325,10.935-14.848c1.823-2.341,3.681-5.11,5.736-8.094,2.073-2.984,4.306-6.218,6.736-9.72,1.233-1.715,2.448-3.556,3.663-5.485,1.233-1.912,2.5-3.877,3.806-5.914,2.609-4.056,5.468-8.273,8.184-12.936a699.639,699.639,0,0,0,36.291-66.843c6.2-13.026,12.437-26.927,18.244-41.614l.536-1.376c.125-.322.089-.25.089-.3l.018-.125.036-.482c.036-.34.054-.643.071-.929a8.364,8.364,0,0,0-.054-1.412c-.125-.75-.393-1.126-.715-1.2a9.413,9.413,0,0,0-2.823,2.341q-.053.081,0,.107c-1.376.661-2.734,1.34-4.128,2-3.2,1.608-6.451,3.145-9.685,4.806s-6.468,3.324-9.721,5q-4.852,2.6-9.72,5.253a698.542,698.542,0,0,0-103.835,68.916,592.423,592.423,0,0,0-74.012,71.239c-19.584,22.228-34.147,41.668-44.064,55.265-4.914,6.826-8.684,12.2-11.222,15.867s-3.877,5.593-3.877,5.593.786-2.216,2.269-6.432c1.519-4.2,3.86-10.363,7.094-18.243a473.386,473.386,0,0,1,32.86-64.485,461.016,461.016,0,0,1,28.572-41.578q8.336-10.828,18.012-21.834c3.2-3.681,6.665-7.2,10.078-10.882,3.449-3.645,6.879-7.415,10.65-10.917a483.563,483.563,0,0,1,107.391-79.4q5.253-2.814,10.489-5.593,5.307-2.627,10.542-5.253c3.5-1.733,7.076-3.323,10.578-4.949.876-.393,1.751-.822,2.645-1.2l3.359-1.465,5.093-2.251,5.021-2.108c3.324-1.394,6.629-2.573,9.9-3.859,3.27-1.251,6.558-2.555,9.7-3.592,6.343-2.18,12.615-4.342,18.869-6.5q18.6-6.325,36.6-12.436-8.979,23.478-17.654,46.153c-1.412,3.591-2.805,7.183-4.2,10.739-1.322,3.52-3,7.129-4.467,10.613-.75,1.751-1.5,3.484-2.251,5.235-.8,1.733-1.59,3.448-2.394,5.182-.786,1.715-1.662,3.448-2.484,5.146l-1.161,2.359-.733,1.412a479.173,479.173,0,0,1-24.534,41.328,479.307,479.307,0,0,1-48.692,62.234c-3.645,4.145-7.416,7.826-10.9,11.328-1.751,1.751-3.431,3.448-5.075,5.092-1.626,1.644-3.234,3.216-4.842,4.663q-4.8,4.369-8.881,8.112c-2.716,2.466-5.182,4.735-7.558,6.593C565.811,360.432,560.719,364.434,560.719,364.434Z" transform="translate(60.95 99.557)" fill="#f1f2f2"/>
              <path id="XMLID_6_" d="M375.48,357.678s8.023,2.359,22.55,5.664c7.273,1.626,16.171,3.52,26.517,5.343,10.328,1.912,22.139,3.645,35.112,5.253,12.99,1.608,27.232,2.716,42.4,3.538,15.206.518,31.342.715,48.174-.179,16.814-1,34.379-2.787,52.445-5.646,18.083-2.877,36.649-6.825,55.464-11.7,3.681-1,7.362-1.983,11.007-2.984,3.627-1.054,7.237-2.091,10.828-3.145q5.361-1.662,10.632-3.288l4.878-1.608a.886.886,0,0,1,.232.054c.607.179,2.073.143,5-.482.339-.625-.232-1.948-2.377-3.663-.268-.214-.554-.447-.858-.679a6.637,6.637,0,0,0-.59-.393l-2.216-.965c-2.93-1.322-5.914-2.484-8.809-3.7-2.895-1.233-5.807-2.359-8.684-3.466-2.877-1.126-5.682-2.269-8.523-3.27A586.854,586.854,0,0,0,608.38,313.4c-4.306-1.2-8.434-2.108-12.347-3-3.913-.858-7.576-1.84-11.025-2.484-3.449-.679-6.665-1.322-9.613-1.894-2.948-.59-5.646-1.179-8.077-1.519-9.721-1.572-15.063-2.537-15.063-2.537s5.289-.733,15.224-1.858c2.484-.34,5.253-.482,8.291-.679,3.056-.179,6.4-.393,9.971-.608,3.609-.232,7.451-.161,11.561-.25,4.128-.054,8.505-.107,13.1.107a395.121,395.121,0,0,1,65.65,7.344c3.127.554,6.272,1.286,9.47,1.983s6.433,1.412,9.7,2.269c3.27.84,6.594,1.626,9.917,2.591l2.5.7c1.376.429,2.77.858,4.146,1.3,2.859.911,5.664,1.965,8.559,2.966,2.859,1.036,5.861,2.019,8.7,3.145q4.262,1.742,8.559,3.5c5.718,2.394,11.418,4.86,17.4,7.451q18.521,8.148,37.739,16.6-16.94,8.469-34.576,17.278c-5.986,2.948-11.865,5.9-18.083,8.88-3.145,1.483-6.308,2.984-9.488,4.467-3.377,1.394-6.772,2.805-10.185,4.2-3.4,1.412-6.9,2.841-10.435,4.092l-6,2.251c-3.806,1.322-7.648,2.662-11.525,3.967-3.9,1.215-7.826,2.43-11.758,3.645-3.985,1.108-7.969,2.216-11.99,3.323a399.354,399.354,0,0,1-60.932,10.917A384.5,384.5,0,0,1,550,412.764a390.407,390.407,0,0,1-51.569-6.772,414.192,414.192,0,0,1-43.385-11.543c-12.99-4.306-24.5-8.684-34.4-13.043-9.917-4.253-18.244-8.4-24.945-11.9A228.371,228.371,0,0,1,375.48,357.678Z" transform="translate(56.441 234.855)" fill="#f1f2f2"/>
              <path id="XMLID_4_" d="M324.335,359.519s-5.075-4-14.349-11.65c-2.359-1.876-4.825-4.127-7.541-6.593-2.716-2.484-5.682-5.182-8.863-8.112-1.608-1.447-3.216-3-4.842-4.663-1.644-1.644-3.324-3.341-5.057-5.092-3.467-3.52-7.237-7.2-10.882-11.328a480.884,480.884,0,0,1-48.674-62.234,479.147,479.147,0,0,1-24.534-41.328l-.733-1.412-1.144-2.341c-.822-1.7-1.7-3.431-2.484-5.146s-1.59-3.449-2.394-5.164c-.75-1.733-1.5-3.484-2.251-5.217-1.465-3.484-3.127-7.093-4.467-10.613-1.394-3.556-2.788-7.147-4.2-10.739q-8.684-22.647-17.672-46.117,18.467,6.272,37.6,12.775,9.622,3.323,19.388,6.683c3.27,1.126,6.665,2.519,10.024,3.77,3.377,1.287,6.772,2.573,10.2,4.056,1.715.7,3.449,1.447,5.2,2.234l4.682,2.073c1.84.786,3.627,1.626,5.45,2.448,3.609,1.68,7.29,3.324,10.882,5.146,3.592,1.8,7.273,3.538,10.846,5.45,3.592,1.912,7.183,3.842,10.811,5.771a484.516,484.516,0,0,1,107.819,80.6,446.723,446.723,0,0,1,67.133,86.444,475.707,475.707,0,0,1,32.628,65.235c3.216,7.951,5.5,14.187,7,18.44,1.465,4.253,2.234,6.5,2.234,6.5s-1.322-1.965-3.842-5.682-6.272-9.166-11.15-16.1c-9.864-13.794-24.355-33.52-43.921-56.1a608.069,608.069,0,0,0-73.941-72.49c-15.028-12.2-31.306-24.336-48.71-36.129-17.4-11.811-36.059-23.1-55.554-33.913q-5.039-2.707-10.024-5.414c-3.324-1.823-6.683-3.466-10.006-5.217-3.306-1.751-6.665-3.341-9.953-5-1.644-.822-3.288-1.662-4.95-2.412l-.554-.268h.018l.018-.018a.034.034,0,0,0,0-.054,10.039,10.039,0,0,0-2.966-2.448c-.3.107-.572.5-.7,1.286a7.413,7.413,0,0,0-.036,1.447c.018.286.036.607.071.947l.054.482.018.125c0,.036-.018.036.107.339l.536,1.376c5.807,14.705,12.043,28.606,18.262,41.632a696.553,696.553,0,0,0,36.327,66.826c2.716,4.664,5.575,8.863,8.184,12.936,1.3,2.037,2.591,4,3.824,5.914,1.215,1.93,2.43,3.77,3.663,5.485,2.412,3.484,4.664,6.736,6.737,9.7,2.055,2.984,3.913,5.753,5.736,8.076C320.512,354.212,324.335,359.519,324.335,359.519Z" transform="translate(-109.768 95.789)" fill="#f1f2f2"/>
              <path id="XMLID_2_" d="M374.254,401.585s-5.289.733-15.224,1.858c-2.484.339-5.253.482-8.291.679-3.056.179-6.4.393-9.971.607-3.609.232-7.451.161-11.561.25-4.128.054-8.505.107-13.1-.107a395.137,395.137,0,0,1-65.649-7.344c-3.127-.554-6.272-1.286-9.47-1.983s-6.433-1.412-9.7-2.269c-3.27-.84-6.593-1.626-9.917-2.591l-2.5-.7c-1.376-.429-2.77-.875-4.146-1.3-2.859-.911-5.664-1.965-8.559-2.966-2.859-1.036-5.861-2.019-8.7-3.145q-4.262-1.742-8.559-3.5c-5.718-2.394-11.418-4.86-17.4-7.451q-18.521-8.148-37.739-16.6,16.939-8.469,34.576-17.278c5.986-2.948,11.865-5.9,18.083-8.88,3.145-1.483,6.308-2.984,9.488-4.467,3.377-1.394,6.772-2.805,10.185-4.2,3.4-1.411,6.9-2.841,10.435-4.092l6-2.251c3.806-1.322,7.648-2.662,11.525-3.967,3.9-1.215,7.827-2.43,11.758-3.645,3.985-1.108,7.969-2.216,11.99-3.323A401.521,401.521,0,0,1,318.736,292a384.5,384.5,0,0,1,57.769-1.215,390.425,390.425,0,0,1,51.569,6.772A414.206,414.206,0,0,1,471.46,309.1c12.99,4.306,24.5,8.684,34.4,13.044,9.917,4.252,18.244,8.4,24.945,11.9a226.532,226.532,0,0,1,20.263,11.829s-8.023-2.359-22.55-5.664c-7.273-1.626-16.171-3.52-26.517-5.342-10.328-1.912-22.139-3.645-35.112-5.253-12.99-1.608-27.232-2.716-42.4-3.538-15.206-.518-31.342-.715-48.174.179-16.814,1-34.379,2.787-52.445,5.646-18.083,2.877-36.649,6.826-55.464,11.7-3.681,1-7.362,1.983-11.007,2.984-3.627,1.054-7.237,2.091-10.828,3.145q-5.361,1.662-10.632,3.288l-4.878,1.608a.892.892,0,0,1-.232-.054c-.607-.179-2.073-.143-5,.482-.339.626.232,1.948,2.359,3.663.268.214.554.447.876.679a6.623,6.623,0,0,0,.59.393l2.216.965c2.93,1.322,5.915,2.484,8.809,3.7,2.895,1.233,5.807,2.358,8.684,3.466,2.859,1.126,5.682,2.269,8.523,3.27a586.914,586.914,0,0,0,60.289,18.958c4.306,1.2,8.434,2.108,12.347,3,3.913.858,7.576,1.84,11.025,2.484,3.449.679,6.665,1.322,9.613,1.894,2.948.59,5.646,1.179,8.077,1.519C368.912,400.62,374.254,401.585,374.254,401.585Z" transform="translate(-133.76 228.327)" fill="#f1f2f2"/>
            </g>
          </svg>
        </div>
      </div>
    </div>
  


  {% schema %}
  {
    "name": "Newsletter",
    "tag": "section",
    "class": "subscribe",
    "settings": [
      {
        "id": "main_section_header",
        "type": "text",
        "label": "Main Header"
      },
      {
        "id": "main_section_content",
        "type": "text",
        "label": "Main Copy"
      },
      {
        "id": "form_header",
        "type": "text",
        "label": "Form header"
      },
      {
        "id": "background_image",
        "type": "image_picker",
        "label": "Background Image"
      }

    ]
}
{% endschema %}