.input-el {
  position: relative;
  margin-bottom: 1em;

  &:last-of-type {
    margin-bottom: 0em;
  }

  input {
    height: 45px;
    width: calc(100% - 10px);
    outline: none;
    border: none;
    border-radius: 0px;
    border: 1px solid $gray;
    font-size: 1em;
    padding-left: 10px;
  }
}

.input-el button {
  @include btn-reset();
  display: inline-block;
  padding: 0.8em 2em;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  background: $primary;
  color: white;

  &:hover {
    transition: background 500ms ease;
    background: darken($primary, 10%);
  }
  
}