.full-width-banner-parent {
  background: #ddd;

  .section-bg__el {
    background-position: bottom;
  }
}

.full-width-banner {
  padding: 8em 0em;
  position: relative;
  color: white;

  &_el {
    max-width: 900px;
    margin: auto;
    text-align: center;
    position: relative; 
  }

  .content-container {
    max-width: 900px;
  }
}
