.full-width-banner-parent {
  background: #ddd;
}

.full-width-banner {
  padding: 8em 0em;
  position: relative;
  color: white;

  &_el {
    max-width: 700px;
    margin: auto;
    text-align: center;
    position: relative;
  }

  .content-container {
    max-width: 700px;
  }
}
