.offset-top-content {
  padding-top: 6em;

  @media(min-width: $bp-md) {
    padding-top: 10em;
  }
}

.kan-facts-parent {
  margin: auto;
  border-radius: 12px;
  // box-shadow: 0px 0px 30px rgba(black, 0.1);
  // background: white;
  max-width: 1024px;
  padding: 0em 2em;
  margin-top: 2em;
}

.kan-facts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0em 1em 0em;

  &__el {
    width: 48%;
    text-align: center;
    margin-bottom: 1em;
    font-weight: 600;
    svg {
      height: 64px;
    }
  }
}


@media(min-width: $bp-md) {
  .kan-facts {

    &__el {
      width: 24%;
      margin-bottom: 0em;
    }
  }
}