<div class="reset-panel">
    <div class="reset-panel__inner">
      <h3 class="reset-title">Reset your password</h3>
      <div class="reset-form">
        {% form 'recover_customer_password' %}
          <label for="customer_email">Enter your email address</label>
          <div class="input-el">
            <input type="email" name="email" placeholder="johndoe@email.com"/>
          </div>
          <button class="primary-btn go" type="submit">
            Reset password
          </button>
         <div>
           {% if form.posted_successfully? %}
              <p>Check your email to finish the reset process.</p>
          {% else %}
              {{ form.errors | default_errors }}
          {% endif %}
         </div>
        {% endform %}
      </div>
      <div>
        <a href="/account">
          Cancel
        </a>
      </div>
    </div>
  </div>